<!DOCTYPE html> 
title Dashboard 

body 
    div 
        h3 Hello, #{userName}!
        img(src=profilePic, alt=`profile picture for ${userName}`)

    div 
        h4 Student Alerts
        ul 
            li #{content}
            li #{content}
            li #{content} 

    div 
        a(href= gradeView) 
            button View Grades