<!DOCTYPE html> 
title Dashboard 

body 
    div 
        h3 Hello #{userName}
        img(src=profilePic, alt=`profile picture for #{userName}`)

    div 
        h4 Teacher Alerts
        section #{content}

    div 
    //-   form to add/delete grades 

    div 
        p #{result}